<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joker.classbooking.user.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.joker.classbooking.user.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="identity" jdbcType="VARCHAR" property="identity" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="telephone" jdbcType="VARCHAR" property="telephone" />
        <result column="userType" jdbcType="VARCHAR" property="userType" />
        <result column="invitationCode" jdbcType="VARCHAR" property="invitationCode" />
    </resultMap>

    <select id="selectById" resultType="com.joker.classbooking.user.entity.User">
        select * from user where id = #{id}
    </select>

    <insert id="addNewUser" parameterType="com.joker.classbooking.user.entity.User">
        insert into user (identity , name , sex , password , telephone , userType , invitationCode)
        values(#{identity}, #{name}, #{sex}, #{password}, #{telephone}, #{userType}, #{invitationCode})
    </insert>

</mapper>